:root {
    --light-gray: rgb(209, 209, 209);
    --light-blue: rgb(0, 153, 255);
}

body {
    margin: 0;
}
#app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.day {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}
.name {
    padding-bottom: 5px;
}
.weekend {
    color: var(--light-blue);
}
.selected {
    background-color: var(--light-blue);
    color: white;
}
.price {
    margin-top: 7px;
    font-weight: bold;
    color: red;
}
.sel {
    width: 140px;
    text-align: center;
    margin-left: 85px;
}
.banner {
    margin-left: 60px;
    font-weight: bold;
    font-size: 20px;
}
